{% extends "base/base.html" %} 
{% block title %}Attachments{% endblock title %}
{% block content %} 
{% if attachments %} 
{% for attachment in attachments %}
<div class="panel panel-default col-sm-5 col-sm-offset-1">
	<div class="panel-body">
		<a href="{% url 'attachments:detail' attachment.id %}" target="_blank">{{ attachment.file_name }}</a>
		<span class=col-md-3>
			<div class="media">
				<div class="media-left">
					<a href="{{ MEDIA_URL }}{{attachment.avatar}}">
						<img class="media-object" src="{{ MEDIA_URL }}{{attachment.avatar}}" style="max-height:64px;">
					</a>
				</div>
			</div>
		</span>
		<span class="col-md-9">
			{% if attachment.cv %}
			<p>
				C.V:
				<a href="{{ MEDIA_URL }}{{attachment.cv}}" target="_blank">{{attachment.cv}}</a>
			</p>
			{% endif %}
			<p>
				Created: {{attachment.created_date}}
			</p>
			<p>
				UserId: {{attachment.User_id}}
			</p>
		</span>
	</div>
</div>
{% endfor %} 
{% else %}
<p>No attachments are available.</p>
{% endif %} 
{% endblock content %}