body{
    height: 100%; 
    background-image: url("/static/images/Part-Time-Jobs-and-Professional-Dress.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}
#login-form {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:15em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    border-radius: 10px;
 }

 #register-form {
    position:relative;
    top: 50%;
    left: 50%;
    width:30em;
    height:63em;
    /* margin-top: -30em;  */
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow-y: auto;
    overflow-y: visible;
 }