{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href='{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}'>
	<link rel="stylesheet" href='{% static "bower_components/jquery-ui/themes/base/jquery-ui.css" %}'>
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	{% include "snippets/navbar.html" with content=user %}
	<!-- Main content -->
	<div class="container-fluid">
		{% include "snippets/message-alerts.html" with content=messages %}

		{% block content %}
		<!-- The body data from all different pages goes in here -->
		{% endblock content %}
	</div>
	<footer>
		<!-- Latest compiled and minified JavaScript -->
		<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.js' %}"></script>
		<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/datePicker/datePicker.js' %}"></script>
		{% block javascript %}
		{% endblock javascript %}
	</footer>

</body>

</html>