{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Apply for Job{% endblock title %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}

<h1>Apply form</h1>
<form method="post" action="" enctype="multipart/form-data" class="col-md-6">
    {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" class="btn btn-primary" value="Submit Application"/>
</form>


{% endblock content %}