{% extends "base/base.html" %}
{% load humanize %}
{% block title %}Job Details - {{ instance.title }}{% endblock title %}
{% block content %}
{% comment %} <h1>{{ instance.title }}</h1>
<p>{{ instance.content}}</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} {% endcomment %}


<div class="card card-image">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>{{ instance.title }}</strong></h2>
    </div>
   
  </div>
   <h5>Published: {{ instance.publish |date:"d M Y"}}</h5>
    <p class="mx-5 mb-5">{{ instance.content}}</p>
    <p class="mx-5 mb-5">Salary Range: £{{ instance.min_salary | intcomma }} to £{{ instance.max_salary | intcomma}}</p>
</div>
{% if request.user.groups.Employee is False or request.user.is_superuser %}
    <a href="{% url 'jobs:edit' instance.id %}" class="btn btn-info">Edit</a>
{% endif %}
<a href="{% url 'jobs:apply' instance.id %}" class="btn btn-primary {% if request.user.is_authenticated and have_applied %}disabled{%endif%}">Apply</a>
<a href="{% url 'jobs:index' %}" class="btn btn-default">Back</a>

{% if request.user.is_authenticated and application_count > 0 %}
<a href="{% url 'jobs:applications' instance.id %}" class="btn btn-success">Applications <span class="badge badge-light">{{ application_count }}</span></a>
{% endif %}

{% if request.user.is_authenticated and have_applied %}
  <p class="small">You applied for this job on {{ have_applied.created_date }}</p>
{% endif %}

{% endblock content %}