{% extends "base/base.html" %}
	
{% block content %}
<h1>{{ title }}</h1>
	{% if object_list %}
	    <ul>
	    {% for job in object_list %}
	    <div class="well">
	    	<a href="{% url 'jobs:detail' job.id %}">{{ job.title }}</a>
	        <p>Description: {{job.content}}</p>
	        <p>Published: {{job.publish}}</p>
	        <p>Updated: {{job.updated}}</p>
	    </div>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No jobs are available.</p>
	{% endif %}
	<a href="{% url 'jobs:create'%}" class="btn btn-primary">Create</a>
{% endblock content %}