{% extends "base/base.html" %}
{% load humanize %}
{% block title %}Jobs List{% endblock title %}	
{% block content %}

<h1>{{ title }}</h1>
	{% if object_list %}
	    <ul>
	    {% for job in object_list %}
	    <div class="well">
	    	<a href="{% url 'jobs:detail' job.id %}">{{ job.title }}</a>
	        <p>Description: {{job.content}}</p>
			<p>Published: {{job.publish}}</p>
			<p>Salary: £{{job.min_salary | intcomma}} to £{{job.max_salary | intcomma}}</p>
			{% if job.updated_date%}
				<p>Updated: {{job.updated_date}}</p>
			{% endif %}
	    </div>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No jobs are available.</p>
	{% endif %}
	<a href="{% url 'jobs:create'%}" class="btn btn-primary">Create</a>

	{% include "snippets/paginator.html" with content=object_list  %}
{% endblock content %}