{% extends "base/base.html" %}
{% load crispy_forms_tags %} 
{% load staticfiles %}
{% block title %} Please login {% endblock title %} 

{% block styles%}
	<link rel="stylesheet" href='{% static "styles/css/login.css" %}'>
{% endblock styles %}

{% block content %}

<div id="login-form">
	{% if form.errors %}
	<p class="text-warning">Your username and password didn't match. Please try again.</p>
	{% endif %}
	<form role="form" class="form-horizontal container" method="post" action="{% url 'login' %}">
		{% csrf_token %} 
		{{ form | crispy }}
		<input class="btn btn-primary" type="submit" value="Login" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>
{% endblock content %}