{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create Address{% endblock title %}
{% block content %}
<div class="col-md-4 offset-md-4">
	<h1>Form</h1>
	{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				<p> {{ errors }} </p>
			{% endfor %}
		{% endfor %}
	{% endif %}

	<form method="POST" action="" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form | crispy }}
		<input type="submit" class="btn btn-primary" value="Create Address"/>
		<a href="{% url 'addresses:index' %}" class="btn btn-default">Back</a>
	</form>
</div>
{% endblock content %}