{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}New User Signup{% endblock title %}
{% block styles%}
	<link rel="stylesheet" href='{% static "styles/css/login.css" %}'>
{% endblock styles %}
{% block content %}
	<div id="register-form">
		<form action="" method="post" enctype="multipart/form-data" novalidate>
			{% csrf_token %}
			{{ form | crispy }}
			<p><input type="submit" value="Submit" class="btn btn-primary" /></p>
		</form>
	</div>
	<div class="col-sm-1">
		{% if debug %}
			<button id="createDemoUserBtn" name="createDemoUserBtn" class="btn btn-default">Create Demo User</button>
		{% endif %}
	</div>
{% endblock content %}

{% block javascript %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/User/createDemoUser.js' %}"></script>
{% endblock javascript %}