{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
Details for {{user.username}}
{% endblock title %}

{% block content %}
<h4>UserName: {{user.username}}</h4>
<h4>First Name: {{user.first_name}}</h4>
<h4>Last Name: {{user.last_name}}</h4>
<h4>Email: {{user.email}}</h4>
<h4>DoB: {{user.birth_date}}</h4>
<h4>Date Joined: {{user.date_joined}}</h4>
<h4>Last Login: {{user.last_login}}</h4>
{% if user.attachment.avatar %}
    <img src="{{user.attachment.avatar.url}}" class="img-thumbnail" width="400px" />
{% endif %}
{% if error_message %}
<p>
	<strong>{{ error_message }}</strong>
</p>
{% endif %}
<div class="col-xs-12">
    <a href="{% url 'users:edit' user.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'users:index'%}" class="btn btn-default">Back</a>
</div>
{% endblock content %}