{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
Users
{% endblock title %}

{% block content %}
{% if latest_users_list %}
    <ul>
    {% for user in latest_users_list %}
    	<a href="{% url 'users:detail' user.id %}">{{ user.username }}</a>
		<li>UserName: {{user.username}}</li>
        <li>First Name: {{user.first_name}}</li>
        <li>Last Name: {{user.last_name}}</li>
        <li>Email: {{user.email}}</li>
        <hr>
    {% endfor %}
    </ul>
{% else %}
    <p>No users are available.</p>
{% endif %}
<a href="{% url 'users:signup' %}" class="btn btn-primary">Create User</a>
{% endblock content %}